@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;  
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}



.container {
    width: 80%;
    margin: 0 auto;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    line-height: 1.1;
}

.hero-secondary,
.header-links,
footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px 28px;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links li {
    margin: 6px 0 6px 24px;
}

.header-links li a {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-top: 30px;
    margin: 52px 0;
}

footer {
    background-color: #1F2937;
}

img {
    width: 200px;
}

.hero-img {
    width: 400px;
}

.content-1 {
    background-color:white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 40px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info li {
    width: 150px;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.content-2 {
    background-color: #E5E7EB;
    padding-top: 80px;
    padding-bottom: 80px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
}

.call-box {
    background-color: #3882F6;
    border-radius: 8px;
    margin: 80px 0;
}

.call-box .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}


.call-title {
    color: #F9FAF8;
    font-size: 24px;
}

.call-subtitle {
    font-size: 18px;
    color: #E5E7EB;

}

.call-btn {
    background-color: inherit;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 8px 28px;
    font-size: 18px;
}